<h2><%= @date.strftime("%B") %>

</h2>




<table>

<% (@date.beginning_of_month.beginning_of_week..@date.end_of_month.end_of_week).each do |day| %>
	<% if day.monday? %>
	<tr>
	<% end %>


	<td class="span2">
		<%= link_to day.day, diary_entries_path(day: day) %>
		<% if @diary_entry_month.include?(day) %>
		&#x2713;
		<% end %>
	</td>
	<% end %>

</table>